@model IEnumerable<Food>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Basic Table</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Image</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var food in Model)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td><img src="~/image/@food.Image" /></td>
                                            <td>
                                                <form asp-action="Delete"  asp-route-id="@food.Id"><button class="btn btn-danger btn-sm" ><i class="mdi mdi-delete-forever"></i></button></form>
                                            </td>
                                            <td>
                                                <form asp-action="Update" asp-route-id="@food.Id"><button class="btn btn-danger btn-sm"><i class="mdi mdi-lead-pencil"></i></button></form>
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
